@page
@model Hangman2020.Pages.SetupScreenModel
@{
    ViewData["Title"] = "SetupScreen";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="mw-100">
    <section id="setup-screen">

        <div class="img">

            <h1>TVŮJ OBĚŠENEC</h1>

            <img src="~/Images/Game/HM-all.svg" alt="all HangMan">

        </div>

        <div class="text">

            <h1>Kategorie slov</h1>

            @foreach(var item in Model.Categories)
            {
                <span><a asp-page="GameOn" asp-route-id="@item.Id">@item.Name</a></span>
            }

        </div>

    </section>
</div>

@section Styles{
        <link href="@Url.Content("~/css/SetupScreen/Setupscreen.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/css/SetupScreen/Queries.css")" rel="stylesheet" type="text/css" />
    }


